*{padding:0px;margin:0px;}
.header{
    width: 600px;
    background-color: rgba(245, 196, 208, 0.87);
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu{
    width: 600px;
    background-color: rgb(219, 163, 182);
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline;
    border-right:  1px solid black;
}
.menu ul li:last-child{
    border-right: none;
}
.menu ul li a{
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: 1s;
}
.menu ul a:hover{
    background-color: rgb(33, 31, 168);
    color: white;
}

.maincontent{
    width: 600px;
    background-color:skyblue;
}
.maincontent p{
    padding: 10px;
    text-align: justify;
}
.footer{
    width: 600px;
    background-color: rgb(250, 151, 184);
}